    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Riichi">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body>
    <div class="container u-full-width">
        <div class="row">
        <div class="twelve columns" style="text-align:center">
            <section id="header">{{title}}</section>
        </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="twelve columns">
                <figure>
                    <div>
                        <strong>{{{errType}}}</strong>
                    </div>
                <a href="https://discordbots.org/bot/475225954101231626" >
                <image src="https://discordbots.org/api/widget/475225954101231626.svg" alt="Carcano M1891" />
                </a>
                </figure>
            </div>
        </div>
    </div>
    </body>
    <footer>
        <p>
            Here lies the truth behind 404.
        </p>
    </footer>
    </html>
    