<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#f442c5">
<meta name="author" content="Riichi">
<meta property="og:title" content="Lucia">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.lolization.space/">
<meta property="og:image" content="https://cdn.discordapp.com/avatars/515799290833272849/978bd1a368e64f846d3c3472c1137a4a.png?size=2048">
<meta property="og:description" content="One of the smallest Software Publisher in Indonesia. Because we like it small.">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

<div id="wrapper">

<header id="header">
<img src="https://cdn.discordapp.com/avatars/515799290833272849/978bd1a368e64f846d3c3472c1137a4a.png?size=2048" height="100" width="100"></img>
<div class="content">
<div class="inner">
<h1>Lolization LLC</h1>
<p>Outnumbered Software Publisher in Indonesia</p>
</div>
</div>
<nav>
<ul>
<li><a href="#about">About</a></li>
<li><a href="https://lolization.space">Website</a></li>
<li><a href="#technical-details">More</a></li>
<li><a href="#partnership">Partner</a></li>

</ul>
</nav>
</header>

<div id="main">

<article id="about">
<h2 class="major">About</h2>
<span class="image main"><img src="assets/commander-room.jpg" alt="" /></span>
<p><strong>"We are here for you, to make a better future"</strong></p>
<p>Lolization LLC is a Nonprofit publisher company that will provide high quality technical and environmental engineering services to its clients. Alongside with Lolization LLC which is founded by Riichi Rusdiana, there's a Lolization Community which will be a partnership, operated by Mazure Finnson.</p>
<p>The company established on 22 November 2017 changed the position of Local Community to Nonprofit Company. They preserve to provide help for setting up new servers, virtual servers, gameserver panels, website panels, project management, and any CMS host.</p>
<p><b><a href="https://discordapp.com/invite/pFQXau5">Join our Official Discord Server</a></b></p>
</article>

<article id="partnership">
<h2 class="major">Partnership</h2>
<span class="image main"><img src="assets/commander-room.jpg" alt="" /></span>
<p><strong>"We partnered with the best to provide service that you will never see before"</strong></p>
<p>Nothing? Be the first one!</p>
<p></p>
<p><b><a href="https://discordapp.com/invite/pFQXau5">Join our Official Discord Server</a></b></p>
</article>

<article id="technical-details">
<h2 class="major">Attribution<br> of<br>Technical Detail</h2>
<p>Most of the content here are representably open media, thus they can fit our works and also can be used as a reference to others.
<ul>
<li><a href="https://cdn.discordapp.com/avatars/515799290833272849/978bd1a368e64f846d3c3472c1137a4a.png?size=2048">Lucia~</a> - Fictional Character, a neko loli.</li>
<li><a href="https://digitalocean.com/">Digital Ocean</a> - Virtual Cloud-Compute host.</li>
<li><a href="https://www.apache.com">Apache2</a> - A website's Virtual Host management software.</li>
<li><a href="https://www.canonical.com">Canonical Group</a> - Software developer, and also Almighty Ubuntu's publisher.</li>
<li><a href="https://lolization.space">Lolization LLC</a> - Non-profit company which is maintaining this website.</li>
<li><a href="https://creativecommons.org/">Creative Commons</a> - Non-profit organization who created CC licenses.</li>
</ul>
</p>
</article>
</div>
</div>

<div id="bg"></div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>