{{!-- 
<iframe src="https://stats.uptimerobot.com/2WmXMIyrz" width="1100" height="1557" frameborder="0" marginheight="0" marginwidth="0" align="middle">
</iframe> --}}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#f442c5">
<meta name="author" content="Riichi">
<meta property="og:title" content="Lucia">
<meta property="og:type" content="website">
<meta property="og:url" content="https://gate.lolization.space/">
<meta property="og:image" content="https://cdn.discordapp.com/avatars/515799290833272849/978bd1a368e64f846d3c3472c1137a4a.png?size=2048">
<meta property="og:description" content="One of the smallest Software Publisher in Indonesia. Because we like it small.">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

<div id="wrapper">

<header id="header">
<img src="https://cdn.discordapp.com/avatars/515799290833272849/978bd1a368e64f846d3c3472c1137a4a.png?size=2048" height="100" width="100"></img>
<div class="content">
<div class="inner">
<h1>Lolization LLC</h1>
<p>Outnumbered Software Publisher in Indonesia</p>
</div>
</div>
<nav>
<ul>
<iframe src="https://stats.uptimerobot.com/2WmXMIyrz" width="1100" height="1280" frameborder="0" marginheight="0" marginwidth="0" align="middle">
</iframe>
</ul>
</nav>
</header>

<div id="main">
</div>
</div>

<div id="bg"></div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>