<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body>
		{{{body}}}
	</body>

	<footer id="footer">
		<p>
		Except where otherwise <a href="https://www.lolization.space/#license">noted</a>, content on this site is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0 license</a>
		</p>
	</footer>
</html>